[project]
	description = :date: php's date() function ported to javascript
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/nick comer (nkcmr)
[access "refs/for/refs/*"]
	read = group user/nick comer (nkcmr)
	push = group user/nick comer (nkcmr)
	label-Code-Review = -2..+2 group user/nick comer (nkcmr)
	label-Verified = -1..+1 group user/nick comer (nkcmr)
	rebase = group user/nick comer (nkcmr)
	removeReviewer = group user/nick comer (nkcmr)
	submit = group user/nick comer (nkcmr)
[access "refs/heads/*"]
	read = group user/nick comer (nkcmr)
	create = group user/nick comer (nkcmr)
	push = +force group user/nick comer (nkcmr)
	pushMerge = group user/nick comer (nkcmr)
[access "refs/tags/*"]
	push = group user/nick comer (nkcmr)
	push = +force group user/nick comer (nkcmr)
